<div>
    <div class="form-group">
        <label for="page size">page size</label>
        <input type="number" class="form-control"
          [(ngModel)]="page.size"
          (keydown.enter)="updateTable()"
         id="pageSize">
      </div>
    <table *ngIf="employees">
        <!-- ADD HEADERS -->
        <tr>
            <th *ngFor="let col of columns">{{col}}
            </th>
        </tr>

        <!-- BIND ARRAY TO TABLE -->
        <tr *ngFor="let employee of paginated_employees">
            <td *ngFor="let col of columns">{{employee[col]}}</td>
        </tr>
        <tfoot>
    <tr>
       <td (click)="showPageData(i)" *ngFor="let page of [].constructor(pages); let i=index">
      {{i+1}}
    </td>
    </tr>
  </tfoot>
    </table>
   
</div>